# Created by .ignore support plugin (hsz.mobi)
.idea
classes/
dist/
build/
octopus.iml
*.zip
out/
*.iml
*.out
selfdir/
cscope.*
.sonar
.gradle
nbproject/
manifest.mf
.scannerwork
.ccls-cache
.Dstore
.DS_Store*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.project
.settings
.classpath
.checkstyle
.checkstyle-idea
.idea
.gradle
.gradle-build-receipt.properties
.gradle/checksums
.gradle/checksums/checksums.lock
.gradle/checksums/checksums.properties.bin
.vscode